analytics.json
{
  "name": "06 - Advanced Analytics & Insights",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-daily-8am",
      "name": "Schedule (Daily 8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calculate comprehensive date ranges\nconst now = new Date();\n\n// Today\nconst today = new Date(now);\ntoday.setHours(0, 0, 0, 0);\n\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\n// Yesterday\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\n\n// Last 7 days\nconst last7Days = new Date(today);\nlast7Days.setDate(last7Days.getDate() - 7);\n\n// Last 30 days\nconst last30Days = new Date(today);\nlast30Days.setDate(last30Days.getDate() - 30);\n\n// Last 90 days\nconst last90Days = new Date(today);\nlast90Days.setDate(last90Days.getDate() - 90);\n\n// This week (Monday start)\nconst thisWeekStart = new Date(today);\nconst dayOfWeek = thisWeekStart.getDay();\nconst diff = thisWeekStart.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1);\nthisWeekStart.setDate(diff);\n\n// Last week\nconst lastWeekStart = new Date(thisWeekStart);\nlastWeekStart.setDate(lastWeekStart.getDate() - 7);\nconst lastWeekEnd = new Date(thisWeekStart);\nlastWeekEnd.setDate(lastWeekEnd.getDate() - 1);\n\n// This month\nconst thisMonthStart = new Date(now.getFullYear(), now.getMonth(), 1);\n\n// Last month\nconst lastMonthStart = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst lastMonthEnd = new Date(now.getFullYear(), now.getMonth(), 0);\n\nreturn [{\n  json: {\n    today: today.toISOString(),\n    tomorrow: tomorrow.toISOString(),\n    yesterday: yesterday.toISOString(),\n    last_7_days: last7Days.toISOString(),\n    last_30_days: last30Days.toISOString(),\n    last_90_days: last90Days.toISOString(),\n    this_week_start: thisWeekStart.toISOString(),\n    last_week_start: lastWeekStart.toISOString(),\n    last_week_end: lastWeekEnd.toISOString(),\n    this_month_start: thisMonthStart.toISOString(),\n    last_month_start: lastMonthStart.toISOString(),\n    last_month_end: lastMonthEnd.toISOString(),\n    formatted: {\n      today: today.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }),\n      week: `Week of ${thisWeekStart.toLocaleDateString('en-US', { month: 'short', day: 'numeric' })}`,\n      month: now.toLocaleDateString('en-US', { month: 'long', year: 'numeric' })\n    }\n  }\n}];"
      },
      "id": "calculate-date-ranges",
      "name": "Calculate Date Ranges",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "application": "appXXXXXXXXXXXXXX",
        "table": "tblXXXXXXXXXXXXXX",
        "options": {
          "filterByFormula": "=IS_AFTER({Created}, '{{$json.last_30_days}}')"
        }
      },
      "id": "fetch-last-30-days",
      "name": "Fetch Last 30 Days",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        680,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3",
          "name": "Airtable Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "application": "appXXXXXXXXXXXXXX",
        "table": "tblXXXXXXXXXXXXXX",
        "options": {
          "filterByFormula": "=IS_AFTER({Created}, '{{$json.today}}')"
        }
      },
      "id": "fetch-today",
      "name": "Fetch Today",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        680,
        340
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3",
          "name": "Airtable Support DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "application": "appXXXXXXXXXXXXXX",
        "table": "tblXXXXXXXXXXXXXX",
        "options": {
          "filterByFormula": "=AND(IS_AFTER({Created}, '{{$json.this_week_start}}'), IS_BEFORE({Created}, '{{$json.tomorrow}}'))"
        }
      },
      "id": "fetch-this-week",
      "name": "Fetch This Week",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        680,
        480
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3",
          "name": "Airtable Support DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Comprehensive analytics calculation\nconst last30DaysData = $input.all()[0]?.json || { records: [] };\nconst todayData = $input.all()[1]?.json || { records: [] };\nconst thisWeekData = $input.all()[2]?.json || { records: [] };\nconst dateRanges = $input.first().json;\n\n// Helper: Calculate metrics for a dataset\nfunction calculateMetrics(data, label) {\n  const records = Array.isArray(data) ? data : (data.records || []);\n  const total = records.length;\n  \n  if (total === 0) {\n    return {\n      label,\n      total: 0,\n      resolved: 0,\n      escalated: 0,\n      pending: 0,\n      resolution_rate: 0,\n      escalation_rate: 0,\n      avg_confidence: 0,\n      avg_response_time: 0,\n      median_response_time: 0,\n      by_category: { BUG: 0, BILLING: 0, FEATURE: 0, GENERAL: 0 },\n      by_priority: { LOW: 0, MEDIUM: 0, HIGH: 0, URGENT: 0 },\n      by_sentiment: { POSITIVE: 0, NEUTRAL: 0, NEGATIVE: 0 },\n      by_channel: { slack: 0, email: 0 },\n      by_agent: {},\n      hourly_distribution: Array(24).fill(0),\n      daily_trend: []\n    };\n  }\n  \n  // Status counts\n  const resolved = records.filter(r => \n    r.fields?.Status === 'Resolved' || r.fields?.Status === 'Closed'\n  ).length;\n  \n  const escalated = records.filter(r => \n    r.fields?.Status === 'Escalated' || r.fields?.['Needs Human'] === true\n  ).length;\n  \n  const pending = records.filter(r => \n    r.fields?.Status === 'Pending' || r.fields?.Status === 'In Progress'\n  ).length;\n  \n  // Rates\n  const resolution_rate = total > 0 ? (resolved / total * 100) : 0;\n  const escalation_rate = total > 0 ? (escalated / total * 100) : 0;\n  \n  // Confidence scores\n  const confidenceScores = records\n    .map(r => r.fields?.['Confidence Score'])\n    .filter(c => c !== undefined && c !== null);\n  const avg_confidence = confidenceScores.length > 0\n    ? confidenceScores.reduce((a, b) => a + b, 0) / confidenceScores.length\n    : 0;\n  \n  // Response times\n  const responseTimes = records\n    .map(r => r.fields?.['Response Time'])\n    .filter(t => t !== undefined && t !== null && t > 0)\n    .sort((a, b) => a - b);\n  \n  const avg_response_time = responseTimes.length > 0\n    ? responseTimes.reduce((a, b) => a + b, 0) / responseTimes.length\n    : 0;\n  \n  const median_response_time = responseTimes.length > 0\n    ? responseTimes[Math.floor(responseTimes.length / 2)]\n    : 0;\n  \n  // Category breakdown\n  const by_category = {\n    BUG: records.filter(r => (r.fields?.Category || '').toUpperCase() === 'BUG').length,\n    BILLING: records.filter(r => (r.fields?.Category || '').toUpperCase() === 'BILLING').length,\n    FEATURE: records.filter(r => (r.fields?.Category || '').toUpperCase() === 'FEATURE').length,\n    GENERAL: records.filter(r => (r.fields?.Category || '').toUpperCase() === 'GENERAL').length\n  };\n  \n  // Priority breakdown\n  const by_priority = {\n    LOW: records.filter(r => (r.fields?.Priority || '').toUpperCase() === 'LOW').length,\n    MEDIUM: records.filter(r => (r.fields?.Priority || '').toUpperCase() === 'MEDIUM').length,\n    HIGH: records.filter(r => (r.fields?.Priority || '').toUpperCase() === 'HIGH').length,\n    URGENT: records.filter(r => (r.fields?.Priority || '').toUpperCase() === 'URGENT').length\n  };\n  \n  // Sentiment breakdown\n  const by_sentiment = {\n    POSITIVE: records.filter(r => (r.fields?.Sentiment || '').toUpperCase() === 'POSITIVE').length,\n    NEUTRAL: records.filter(r => (r.fields?.Sentiment || '').toUpperCase() === 'NEUTRAL').length,\n    NEGATIVE: records.filter(r => (r.fields?.Sentiment || '').toUpperCase() === 'NEGATIVE').length\n  };\n  \n  // Channel breakdown\n  const by_channel = {\n    slack: records.filter(r => \n      (r.fields?.Channel || '').toLowerCase() === 'slack' ||\n      (r.fields?.source || '').toLowerCase() === 'slack'\n    ).length,\n    email: records.filter(r => \n      (r.fields?.Channel || '').toLowerCase() === 'email' ||\n      (r.fields?.source || '').toLowerCase() === 'email'\n    ).length\n  };\n  \n  // Agent performance\n  const by_agent = {};\n  records.forEach(r => {\n    const agent = r.fields?.['AI Agent'] || 'Unknown';\n    if (!by_agent[agent]) {\n      by_agent[agent] = { count: 0, resolved: 0, escalated: 0 };\n    }\n    by_agent[agent].count++;\n    if (r.fields?.Status === 'Resolved') by_agent[agent].resolved++;\n    if (r.fields?.['Needs Human']) by_agent[agent].escalated++;\n  });\n  \n  // Hourly distribution\n  const hourly_distribution = Array(24).fill(0);\n  records.forEach(r => {\n    if (r.fields?.Created) {\n      const hour = new Date(r.fields.Created).getHours();\n      hourly_distribution[hour]++;\n    }\n  });\n  \n  // Daily trend (last 7 days)\n  const daily_trend = [];\n  for (let i = 6; i >= 0; i--) {\n    const date = new Date();\n    date.setDate(date.getDate() - i);\n    date.setHours(0, 0, 0, 0);\n    const nextDate = new Date(date);\n    nextDate.setDate(nextDate.getDate() + 1);\n    \n    const dayRecords = records.filter(r => {\n      const created = new Date(r.fields?.Created);\n      return created >= date && created < nextDate;\n    });\n    \n    daily_trend.push({\n      date: date.toLocaleDateString('en-US', { month: 'short', day: 'numeric' }),\n      count: dayRecords.length,\n      resolved: dayRecords.filter(r => r.fields?.Status === 'Resolved').length\n    });\n  }\n  \n  return {\n    label,\n    total,\n    resolved,\n    escalated,\n    pending,\n    resolution_rate: parseFloat(resolution_rate.toFixed(1)),\n    escalation_rate: parseFloat(escalation_rate.toFixed(1)),\n    avg_confidence: parseFloat(avg_confidence.toFixed(2)),\n    avg_response_time: parseFloat(avg_response_time.toFixed(1)),\n    median_response_time: parseFloat(median_response_time.toFixed(1)),\n    by_category,\n    by_priority,\n    by_sentiment,\n    by_channel,\n    by_agent,\n    hourly_distribution,\n    daily_trend\n  };\n}\n\n// Calculate for all periods\nconst today = calculateMetrics(todayData, 'Today');\nconst thisWeek = calculateMetrics(thisWeekData, 'This Week');\nconst last30Days = calculateMetrics(last30DaysData, 'Last 30 Days');\n\n// Performance trends (compare today vs 30-day average)\nconst dailyAverage = last30Days.total / 30;\nconst todayVsAverage = today.total > 0 ? ((today.total - dailyAverage) / dailyAverage * 100) : 0;\n\n// Resolution rate trend\nconst resolutionTrend = today.resolution_rate - last30Days.resolution_rate;\n\n// Response time trend\nconst responseTimeTrend = today.avg_response_time - last30Days.avg_response_time;\n\n// Cost savings\nconst traditional_cost_per_ticket = 8.33;\nconst ai_cost_per_ticket = 0.03;\nconst cost_savings = {\n  today: ((today.resolved * traditional_cost_per_ticket) - (today.total * ai_cost_per_ticket)).toFixed(2),\n  this_week: ((thisWeek.resolved * traditional_cost_per_ticket) - (thisWeek.total * ai_cost_per_ticket)).toFixed(2),\n  this_month: ((last30Days.resolved * traditional_cost_per_ticket) - (last30Days.total * ai_cost_per_ticket)).toFixed(2),\n  annual_projection: ((last30Days.resolved * traditional_cost_per_ticket * 12) - (last30Days.total * ai_cost_per_ticket * 12)).toFixed(2)\n};\n\n// Top insights\nconst insights = [];\n\nif (today.escalation_rate > 30) {\n  insights.push({\n    type: 'warning',\n    title: 'High Escalation Rate',\n    message: `${today.escalation_rate}% of tickets today were escalated. Review AI prompts.`,\n    action: 'Review prompts and agent training'\n  });\n}\n\nif (today.avg_confidence < 0.75) {\n  insights.push({\n    type: 'warning',\n    title: 'Low Confidence Scores',\n    message: `Average confidence is ${(today.avg_confidence * 100).toFixed(0)}%. AI may need retraining.`,\n    action: 'Review low-confidence tickets'\n  });\n}\n\nif (today.by_sentiment.NEGATIVE > today.total * 0.4) {\n  insights.push({\n    type: 'alert',\n    title: 'High Negative Sentiment',\n    message: `${(today.by_sentiment.NEGATIVE / today.total * 100).toFixed(0)}% negative sentiment today.`,\n    action: 'Review customer satisfaction initiatives'\n  });\n}\n\nif (todayVsAverage > 50) {\n  insights.push({\n    type: 'info',\n    title: 'Ticket Volume Spike',\n    message: `${todayVsAverage.toFixed(0)}% more tickets than usual. Possible product issue?`,\n    action: 'Check for system outages or bugs'\n  });\n}\n\nif (resolutionTrend > 5) {\n  insights.push({\n    type: 'success',\n    title: 'Improved Resolution Rate',\n    message: `Resolution rate up ${resolutionTrend.toFixed(1)}% vs 30-day average!`,\n    action: 'Continue current approach'\n  });\n}\n\nif (insights.length === 0) {\n  insights.push({\n    type: 'success',\n    title: 'All Systems Normal',\n    message: 'All metrics within expected ranges. Great job!',\n    action: 'Keep up the good work'\n  });\n}\n\nreturn [{\n  json: {\n    date_ranges: dateRanges,\n    today,\n    this_week: thisWeek,\n    last_30_days: last30Days,\n    trends: {\n      volume: {\n        today_vs_average: parseFloat(todayVsAverage.toFixed(1)),\n        daily_average: parseFloat(dailyAverage.toFixed(1))\n      },\n      resolution_rate: parseFloat(resolutionTrend.toFixed(1)),\n      response_time: parseFloat(responseTimeTrend.toFixed(1))\n    },\n    cost_savings,\n    insights,\n    performance_grade: today.resolution_rate >= 80 ? 'A' : \n                       today.resolution_rate >= 70 ? 'B' : \n                       today.resolution_rate >= 60 ? 'C' : 'D'\n  }\n}];"
      },
      "id": "calculate-analytics",
      "name": "Calculate Advanced Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive Slack report\nconst data = $input.first().json;\nconst today = data.today;\nconst week = data.this_week;\nconst month = data.last_30_days;\nconst trends = data.trends;\nconst savings = data.cost_savings;\nconst insights = data.insights;\n\n// Helper: Progress bar\nfunction bar(pct, len = 10) {\n  const filled = Math.round((pct / 100) * len);\n  return '█'.repeat(filled) + '░'.repeat(len - filled);\n}\n\n// Helper: Trend indicator\nfunction trend(val) {\n  if (val > 0) return `📈 +${val}`;\n  if (val < 0) return `📉 ${val}`;\n  return '➡️ 0';\n}\n\n// Helper: Grade emoji\nfunction gradeEmoji(grade) {\n  return { 'A': '🌟', 'B': '✅', 'C': '⚠️', 'D': '❌' }[grade] || '❓';\n}\n\n// Helper: Insight emoji\nfunction insightEmoji(type) {\n  return { 'success': '✅', 'info': 'ℹ️', 'warning': '⚠️', 'alert': '🚨' }[type] || '💡';\n}\n\n// Build message\nconst message = `📊 *Advanced Analytics Report*\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📅 *${data.date_ranges.formatted.today}*\n\n*📈 TODAY'S PERFORMANCE*\n\n*Tickets:* ${today.total} ${trends.volume.today_vs_average !== 0 ? `(${trend(trends.volume.today_vs_average)}% vs avg)` : ''}\n• ✅ Resolved: ${today.resolved} (${today.resolution_rate}%)\n• 🚨 Escalated: ${today.escalated} (${today.escalation_rate}%)\n• ⏳ Pending: ${today.pending}\n\n*Resolution Rate:* ${today.resolution_rate}%\n${bar(today.resolution_rate, 15)} ${gradeEmoji(data.performance_grade)} Grade ${data.performance_grade}\n\n*Key Metrics:*\n• ⚡ Avg Response: ${today.avg_response_time}s ${trends.response_time !== 0 ? `(${trend(trends.response_time)}s)` : ''}\n• 🎯 Avg Confidence: ${(today.avg_confidence * 100).toFixed(0)}%\n• 💰 Cost Savings: $${savings.today}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*📊 CATEGORY BREAKDOWN*\n\n🐛 Bug: ${today.by_category.BUG} (${today.total > 0 ? (today.by_category.BUG/today.total*100).toFixed(0) : 0}%)\n${bar(today.total > 0 ? (today.by_category.BUG/today.total*100) : 0, 12)}\n\n💰 Billing: ${today.by_category.BILLING} (${today.total > 0 ? (today.by_category.BILLING/today.total*100).toFixed(0) : 0}%)\n${bar(today.total > 0 ? (today.by_category.BILLING/today.total*100) : 0, 12)}\n\n✨ Feature: ${today.by_category.FEATURE} (${today.total > 0 ? (today.by_category.FEATURE/today.total*100).toFixed(0) : 0}%)\n${bar(today.total > 0 ? (today.by_category.FEATURE/today.total*100) : 0, 12)}\n\n💬 General: ${today.by_category.GENERAL} (${today.total > 0 ? (today.by_category.GENERAL/today.total*100).toFixed(0) : 0}%)\n${bar(today.total > 0 ? (today.by_category.GENERAL/today.total*100) : 0, 12)}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*🤖 AI AGENT PERFORMANCE*\n\n${Object.entries(today.by_agent).map(([agent, stats]) => {\n  const resolveRate = stats.count > 0 ? (stats.resolved / stats.count * 100).toFixed(0) : 0;\n  return `${agent}: ${stats.count} tickets (${resolveRate}% resolved)`;\n}).join('\\n')}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*📅 7-DAY TREND*\n\n${today.daily_trend.map(day => \n  `${day.date}: ${'▂▃▅▆█'.charAt(Math.min(4, Math.floor(day.count / Math.max(...today.daily_trend.map(d => d.count)) * 4)))} ${day.count} tickets`\n).join('\\n')}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*🎭 SENTIMENT ANALYSIS*\n\n😊 Positive: ${today.by_sentiment.POSITIVE} (${today.total > 0 ? (today.by_sentiment.POSITIVE/today.total*100).toFixed(0) : 0}%)\n😐 Neutral: ${today.by_sentiment.NEUTRAL} (${today.total > 0 ? (today.by_sentiment.NEUTRAL/today.total*100).toFixed(0) : 0}%)\n😞 Negative: ${today.by_sentiment.NEGATIVE} (${today.total > 0 ? (today.by_sentiment.NEGATIVE/today.total*100).toFixed(0) : 0}%)\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*⏰ PEAK HOURS* (tickets by hour)\n\n${today.hourly_distribution.map((count, hour) => {\n  if (count === 0) return null;\n  return `${hour.toString().padStart(2, '0')}:00 - ${'█'.repeat(Math.ceil(count / Math.max(...today.hourly_distribution) * 10))} ${count}`;\n}).filter(Boolean).slice(0, 5).join('\\n')}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*📈 WEEKLY SUMMARY*\n\n• Total: ${week.total} tickets\n• Resolved: ${week.resolved} (${week.resolution_rate}%)\n• Avg Response: ${week.avg_response_time}s\n• Savings: $${savings.this_week}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*💰 COST SAVINGS*\n\n• Today: $${savings.today}\n• This Week: $${savings.this_week}\n• This Month: $${savings.this_month}\n• Annual Projection: $${savings.annual_projection}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n*💡 KEY INSIGHTS*\n\n${insights.map(i => \n  `${insightEmoji(i.type)} *${i.title}*\\n   ${i.message}\\n   → ${i.action}`\n).join('\\n\\n')}\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n<https://airtable.com/YOUR_BASE_ID|📊 View Full Dashboard>`;\n\nreturn [{ json: { message, data } }];"
      },
      "id": "format-slack-report",
      "name": "Format Slack Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06ABC789GH",
          "mode": "id",
          "cachedResultName": "analytics"
        },
        "text": "={{$json.message}}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "send-to-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Support Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate CSV export of all data\nconst data = $input.first().json.data;\nconst today = data.today;\nconst week = data.this_week;\nconst month = data.last_30_days;\n\n// Create comprehensive CSV data\nconst csvData = [\n  // Summary metrics\n  ['SUMMARY METRICS', '', '', ''],\n  ['Period', 'Total', 'Resolved', 'Resolution Rate'],\n  ['Today', today.total, today.resolved, `${today.resolution_rate}%`],\n  ['This Week', week.total, week.resolved, `${week.resolution_rate}%`],\n  ['Last 30 Days', month.total, month.resolved, `${month.resolution_rate}%`],\n  ['', '', '', ''],\n  \n  // Category breakdown\n  ['CATEGORY BREAKDOWN', '', '', ''],\n  ['Category', 'Today', 'This Week', 'Last 30 Days'],\n  ['Bug', today.by_category.BUG, week.by_category.BUG, month.by_category.BUG],\n  ['Billing', today.by_category.BILLING, week.by_category.BILLING, month.by_category.BILLING],\n  ['Feature', today.by_category.FEATURE, week.by_category.FEATURE, month.by_category.FEATURE],\n  ['General', today.by_category.GENERAL, week.by_category.GENERAL, month.by_category.GENERAL],\n  ['', '', '', ''],\n  \n  // Agent performance\n  ['AGENT PERFORMANCE', '', '', ''],\n  ['Agent', 'Tickets', 'Resolved', 'Resolution Rate'],\n  ...Object.entries(today.by_agent).map(([agent, stats]) => [\n    agent,\n    stats.count,\n    stats.resolved,\n    `${(stats.resolved / stats.count * 100).toFixed(1)}%`\n  ]),\n  ['', '', '', ''],\n  \n  // Daily trend\n  ['DAILY TREND (Last 7 Days)', '', '', ''],\n  ['Date', 'Total', 'Resolved', 'Resolution Rate'],\n  ...today.daily_trend.map(day => [\n    day.date,\n    day.count,\n    day.resolved,\n    day.count > 0 ? `${(day.resolved / day.count * 100).toFixed(1)}%` : '0%'\n  ])\n];\n\n// Convert to CSV string\nconst csv = csvData.map(row => row.join(',')).join('\\n');\n\nreturn [{\n  json: {\n    csv,\n    filename: `support-analytics-${new Date().toISOString().split('T')[0]}.csv`\n  }\n}];"
      },
      "id": "generate-csv",
      "name": "Generate CSV Export",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        480
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "analytics@company.com",
        "subject": "=Daily Support Analytics - {{$now.format('MMM DD, YYYY')}}",
        "message": "=Hi team,\n\nPlease find attached today's comprehensive support analytics report.\n\n*Key Highlights:*\n• Total tickets today: {{$node[\"Calculate Advanced Analytics\"].json.today.total}}\n• Resolution rate: {{$node[\"Calculate Advanced Analytics\"].json.today.resolution_rate}}%\n• Cost savings: ${{$node[\"Calculate Advanced Analytics\"].json.cost_savings.today}}\n\nFull analytics are available in the attached CSV and on our dashboard.\n\nBest,\nAI Support System",
        "options": {
          "attachments": "data:text/csv;base64,={{$binary.data.toString('base64')}}"
        }
      },
      "id": "email-report",
      "name": "Email CSV Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1340,
        480
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "4",
          "name": "Gmail Support"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appXXXXXXXXXXXXXX",
        "table": "tblYYYYYYYYYYYYYY",
        "options": {},
        "fields": {
          "mappings": [
            {
              "fieldId": "Date",
              "fieldValue": "={{$now.format('yyyy-MM-dd')}}"
            },
            {
              "fieldId": "Total Tickets",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.total}}"
            },
            {
              "fieldId": "Resolved",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.resolved}}"
            },
            {
              "fieldId": "Escalated",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.escalated}}"
            },
            {
              "fieldId": "Resolution Rate",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.resolution_rate}}"
            },
            {
              "fieldId": "Escalation Rate",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.escalation_rate}}"
            },
            {
              "fieldId": "Avg Confidence",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.avg_confidence}}"
            },
            {
              "fieldId": "Avg Response Time",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.avg_response_time}}"
            },
            {
              "fieldId": "Median Response Time",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.median_response_time}}"
            },
            {
              "fieldId": "Bug Count",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.by_category.BUG}}"
            },
            {
              "fieldId": "Billing Count",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.by_category.BILLING}}"
            },
            {
              "fieldId": "Feature Count",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.by_category.FEATURE}}"
            },
            {
              "fieldId": "General Count",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.by_category.GENERAL}}"
            },
            {
              "fieldId": "Cost Savings",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.cost_savings.today}}"
            },
            {
              "fieldId": "Performance Grade",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.performance_grade}}"
            },
            {
              "fieldId": "Positive Sentiment",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.by_sentiment.POSITIVE}}"
            },
            {
              "fieldId": "Negative Sentiment",
              "fieldValue": "={{$node[\"Calculate Advanced Analytics\"].json.today.by_sentiment.NEGATIVE}}"
            }
          ]
        }
      },
      "id": "log-to-airtable",
      "name": "Log Daily Metrics",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3",
          "name": "Airtable Support DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule (Daily 8 AM)": {
      "main": [
        [
          {
            "node": "Calculate Date Ranges",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Ranges": {
      "main": [
        [
          {
            "node": "Fetch Last 30 Days",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch This Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last 30 Days": {
      "main": [
        [
          {
            "node": "Calculate Advanced Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today": {
      "main": [
        [
          {
            "node": "Calculate Advanced Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch This Week": {
      "main": [
        [
          {
            "node": "Calculate Advanced Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Advanced Analytics": {
      "main": [
        [
          {
            "node": "Format Slack Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate CSV Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Report": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Log Daily Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate CSV Export": {
      "main": [
        [
          {
            "node": "Email CSV Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-09T12:00:00.000Z",
  "versionId": "1"
}
