slack-support.json
{
  "name": "01 - Slack Customer Support",
  "nodes": [
    {
      "parameters": {
        "events": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "auto-generated",
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Support Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.user}}",
              "operation": "notEmpty"
            },
            {
              "value1": "={{$json.bot_id}}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{$json.subtype}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "filter-bot-messages",
      "name": "Filter Bot Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "ticket_id",
              "value": "=TKT-{{$now.format('YYYYMMDD')}}-{{$json.ts.replace('.', '')}}"
            },
            {
              "name": "message",
              "value": "={{$json.text}}"
            },
            {
              "name": "user_id",
              "value": "={{$json.user}}"
            },
            {
              "name": "channel",
              "value": "={{$json.channel}}"
            },
            {
              "name": "thread_ts",
              "value": "={{$json.ts}}"
            },
            {
              "name": "source",
              "value": "slack"
            },
            {
              "name": "created_at",
              "value": "={{$now.toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-message-data",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "={{$json.user_id}}",
          "mode": "id"
        }
      },
      "id": "get-user-info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        220
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Support Bot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "customer_email",
              "value": "={{$json.profile?.email || 'unknown@slack.user'}}"
            },
            {
              "name": "customer_name",
              "value": "={{$json.profile?.real_name || $json.name || 'Unknown User'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "add-user-details",
      "name": "Add User Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1120,
        220
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.3,
          "maxTokens": 300
        },
        "prompt": "=You are an expert customer support triage agent.\n\nYour role: Analyze customer messages and categorize them accurately.\n\nCATEGORIES:\n- BUG: Technical issues, errors, crashes, bugs, problems with functionality\n- BILLING: Payment issues, subscriptions, refunds, invoices, charges\n- FEATURE: Feature requests, suggestions, improvements, enhancements\n- GENERAL: Questions, how-to, information requests, general inquiries\n\nPRIORITY LEVELS:\n- URGENT: System down, payment blocked, data loss, security issue\n- HIGH: Significant impact, affecting work, multiple users\n- MEDIUM: Single user issue, workaround available\n- LOW: Questions, minor issues, suggestions\n\nSENTIMENT:\n- POSITIVE: Happy, satisfied, thankful customer\n- NEUTRAL: Normal inquiry, no strong emotion\n- NEGATIVE: Frustrated, angry, disappointed customer\n\nAnalyze this customer message and respond ONLY with valid JSON:\n\nCustomer Message:\n{{$json.message}}\n\nCustomer Name: {{$json.customer_name}}\nChannel: {{$json.source}}\n\nResponse format (JSON only, no markdown):\n{\n  \"category\": \"BUG|BILLING|FEATURE|GENERAL\",\n  \"priority\": \"LOW|MEDIUM|HIGH|URGENT\",\n  \"confidence\": 0.95,\n  \"sentiment\": \"POSITIVE|NEUTRAL|NEGATIVE\",\n  \"reasoning\": \"Brief explanation of categorization\",\n  \"needs_human\": false,\n  \"keywords\": [\"key\", \"words\", \"detected\"]\n}"
      },
      "id": "triage-agent",
      "name": "AI Triage Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1340,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI GPT-4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the OpenAI response and extract triage data\nconst message = $input.first().json.message;\nconst triageText = $input.first().json.text || $input.first().json.choices?.[0]?.message?.content || '';\n\n// Try to extract JSON from response\nlet triageData;\ntry {\n  // Remove markdown code blocks if present\n  const cleanText = triageText.replace(/```json\\n?|```\\n?/g, '').trim();\n  triageData = JSON.parse(cleanText);\n} catch (error) {\n  // Fallback if JSON parsing fails\n  triageData = {\n    category: 'GENERAL',\n    priority: 'MEDIUM',\n    confidence: 0.5,\n    sentiment: 'NEUTRAL',\n    reasoning: 'Failed to parse AI response',\n    needs_human: true,\n    keywords: []\n  };\n}\n\n// Merge with existing data\nconst allData = $input.first().json;\nreturn [{\n  json: {\n    ...allData,\n    triage: triageData,\n    category: triageData.category,\n    priority: triageData.priority,\n    confidence: triageData.confidence,\n    sentiment: triageData.sentiment\n  }\n}];"
      },
      "id": "parse-triage-response",
      "name": "Parse Triage Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        220
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "={{$json.category}}"
      },
      "id": "route-by-category",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1780,
        220
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        },
        "prompt": "=You are a technical support specialist AI agent.\n\nYour role: Help customers resolve technical issues with empathy and clear guidance.\n\nGUIDELINES:\n✓ Acknowledge the issue with empathy\n✓ Provide clear, step-by-step troubleshooting\n✓ Use simple language (avoid technical jargon)\n✓ Offer workarounds when possible\n✓ Set realistic expectations\n✓ Ask clarifying questions if needed\n\nNEVER:\n✗ Blame the customer\n✗ Make promises you can't keep\n✗ Ignore their frustration\n✗ Use complex technical terms without explanation\n\nCustomer Priority: {{$json.priority}}\nCustomer Sentiment: {{$json.sentiment}}\nCustomer Name: {{$json.customer_name}}\n\nCustomer Message:\n{{$json.message}}\n\nGenerate a helpful, empathetic response that:\n1. Acknowledges the issue and shows empathy\n2. Provides immediate troubleshooting steps\n3. Asks for clarification if needed\n4. Explains what will happen next\n5. Offers alternative solutions if applicable\n\nKeep response under 200 words and use friendly, professional tone.\n\nResponse:"
      },
      "id": "bug-handler-agent",
      "name": "Bug Handler Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2000,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI GPT-4"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.6,
          "maxTokens": 400
        },
        "prompt": "=You are a billing support specialist AI agent.\n\nYour role: Handle payment, subscription, and billing inquiries professionally and empathetically.\n\nGUIDELINES:\n✓ Be empathetic about payment issues\n✓ Clearly explain charges and billing\n✓ Offer solutions proactively\n✓ Protect customer financial data (never ask for sensitive info)\n✓ Escalate refund requests to humans\n\nCustomer Priority: {{$json.priority}}\nCustomer Sentiment: {{$json.sentiment}}\nCustomer Name: {{$json.customer_name}}\n\nCustomer Message:\n{{$json.message}}\n\nGenerate a professional, empathetic response that:\n1. Acknowledges their billing concern\n2. Explains relevant charges or processes\n3. Offers solutions or next steps\n4. Reassures them about data security\n5. Escalates if needed (refunds, disputes)\n\nKeep response under 200 words.\n\nResponse:"
      },
      "id": "billing-agent",
      "name": "Billing Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI GPT-4"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.8,
          "maxTokens": 350
        },
        "prompt": "=You are a product specialist AI agent.\n\nYour role: Handle feature requests and product suggestions positively and encouragingly.\n\nGUIDELINES:\n✓ Thank customer for valuable feedback\n✓ Check if feature already exists\n✓ Log request for product team\n✓ Manage expectations realistically\n✓ Suggest alternatives if available\n✓ Keep customer engaged\n\nCustomer Name: {{$json.customer_name}}\n\nCustomer Message:\n{{$json.message}}\n\nGenerate a positive, encouraging response that:\n1. Thanks them sincerely for the suggestion\n2. Checks if similar feature exists\n3. Explains current product roadmap (if known)\n4. Offers alternative solutions or workarounds\n5. Sets appropriate expectations about implementation\n\nKeep response under 200 words and maintain enthusiasm.\n\nResponse:"
      },
      "id": "feature-agent",
      "name": "Feature Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2000,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI GPT-4"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.7,
          "maxTokens": 400
        },
        "prompt": "=You are a general customer support AI agent.\n\nYour role: Answer questions and provide helpful information professionally.\n\nGUIDELINES:\n✓ Be friendly and professional\n✓ Provide clear, accurate information\n✓ Link to documentation when relevant\n✓ Encourage further questions\n✓ Be concise but thorough\n\nCustomer Name: {{$json.customer_name}}\n\nCustomer Message:\n{{$json.message}}\n\nGenerate a helpful response that:\n1. Directly answers their question\n2. Provides additional relevant information\n3. Links to helpful resources if applicable\n4. Encourages them to ask more questions\n5. Maintains friendly, professional tone\n\nKeep response under 200 words.\n\nResponse:"
      },
      "id": "general-agent",
      "name": "General Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2000,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI GPT-4"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "ai_response",
              "value": "={{$json.text || $json.choices?.[0]?.message?.content || 'Unable to generate response'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-ai-response",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2220,
        220
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {
          "temperature": 0.2,
          "maxTokens": 200
        },
        "prompt": "=You are an escalation decision agent.\n\nYour role: Determine if a customer inquiry requires human intervention.\n\nESCALATE WHEN:\n- Customer is angry, frustrated, or threatening action\n- Mentions: lawyer, legal, lawsuit, refund, cancel subscription\n- Complex technical issue requiring deep product knowledge\n- Billing dispute or refund request\n- Data loss, security concern, or privacy issue\n- AI response might not fully resolve the issue\n- Customer explicitly requests to speak with human\n- Issue affects multiple users or is system-wide\n\nDO NOT ESCALATE WHEN:\n- Simple, routine question with clear answer\n- Clear documentation exists for the issue\n- AI can confidently and safely resolve\n- Low risk of customer dissatisfaction\n- Common FAQ-type question\n\nReview this interaction:\n\nCustomer Message:\n{{$json.message}}\n\nTriage Result:\n{{$json.category}} | {{$json.priority}} | {{$json.sentiment}}\n\nAI Response Generated:\n{{$json.ai_response}}\n\nRespond with JSON only (no markdown):\n{\n  \"should_escalate\": true/false,\n  \"reason\": \"Clear explanation of escalation decision\",\n  \"urgency\": \"LOW|MEDIUM|HIGH\",\n  \"confidence\": 0.95,\n  \"suggested_action\": \"What human agent should do if escalated\"\n}"
      },
      "id": "escalation-agent",
      "name": "Escalation Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        2440,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI GPT-4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the escalation decision\nconst escalationText = $input.first().json.text || $input.first().json.choices?.[0]?.message?.content || '';\n\nlet escalationData;\ntry {\n  const cleanText = escalationText.replace(/```json\\n?|```\\n?/g, '').trim();\n  escalationData = JSON.parse(cleanText);\n} catch (error) {\n  // Conservative fallback - escalate if parsing fails\n  escalationData = {\n    should_escalate: true,\n    reason: 'Failed to parse escalation decision - escalating to be safe',\n    urgency: 'MEDIUM',\n    confidence: 0.5,\n    suggested_action: 'Review manually'\n  };\n}\n\n// Merge with existing data\nconst allData = $input.first().json;\nreturn [{\n  json: {\n    ...allData,\n    escalation: escalationData,\n    needs_human: escalationData.should_escalate,\n    escalation_reason: escalationData.reason,\n    escalation_urgency: escalationData.urgency\n  }\n}];"
      },
      "id": "parse-escalation",
      "name": "Parse Escalation Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needs_human}}",
              "value2": true
            }
          ]
        }
      },
      "id": "escalation-decision",
      "name": "Escalation Decision",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2880,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06ABC123DE",
          "mode": "id",
          "cachedResultName": "escalations"
        },
        "text": "=🚨 *Human Attention Needed*\n\n*Ticket:* {{$json.ticket_id}}\n*Customer:* {{$json.customer_name}} ({{$json.customer_email}})\n*Priority:* {{$json.priority}}\n*Sentiment:* {{$json.sentiment}}\n*Urgency:* {{$json.escalation_urgency}}\n\n*Original Message:*\n> {{$json.message}}\n\n*Why Escalated:*\n{{$json.escalation_reason}}\n\n*AI Response (draft):*\n{{$json.ai_response}}\n\n*Suggested Action:*\n{{$json.escalation?.suggested_action}}\n\n<https://airtable.com/YOUR_BASE_ID|View in Airtable> | <#{{$json.channel}}|Go to Thread>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "send-escalation-alert",
      "name": "Send Escalation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        3100,
        120
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Support Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{$json.channel}}",
          "mode": "id"
        },
        "text": "={{$json.ai_response}}\n\n---\n_🤖 This response was generated by AI (Ticket: {{$json.ticket_id}})_\n_Need more help? Let me know!_",
        "otherOptions": {
          "thread_ts": "={{$json.thread_ts}}"
        }
      },
      "id": "send-slack-response",
      "name": "Send Slack Response",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        3100,
        320
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "1",
          "name": "Slack Support Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "application": "appXXXXXXXXXXXXXX",
        "table": "tblXXXXXXXXXXXXXX",
        "options": {},
        "fields": {
          "mappings": [
            {
              "fieldId": "Ticket ID",
              "fieldValue": "={{$json.ticket_id}}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "={{$json.needs_human ? 'Escalated' : 'Resolved'}}"
            },
            {
              "fieldId": "Customer Email",
              "fieldValue": "={{$json.customer_email}}"
            },
            {
              "fieldId": "Channel",
              "fieldValue": "Slack"
            },
            {
              "fieldId": "Message",
              "fieldValue": "={{$json.message}}"
            },
            {
              "fieldId": "Category",
              "fieldValue": "={{$json.category}}"
            },
            {
              "fieldId": "Priority",
              "fieldValue": "={{$json.priority}}"
            },
            {
              "fieldId": "AI Agent",
              "fieldValue": "={{$json.category === 'BUG' ? 'Bug Handler' : $json.category === 'BILLING' ? 'Billing Agent' : $json.category === 'FEATURE' ? 'Feature Agent' : 'General Agent'}}"
            },
            {
              "fieldId": "AI Response",
              "fieldValue": "={{$json.ai_response}}"
            },
            {
              "fieldId": "Confidence Score",
              "fieldValue": "={{$json.confidence}}"
            },
            {
              "fieldId": "Sentiment",
              "fieldValue": "={{$json.sentiment}}"
            },
            {
              "fieldId": "Needs Human",
              "fieldValue": "={{$json.needs_human}}"
            },
            {
              "fieldId": "Escalation Reason",
              "fieldValue": "={{$json.escalation_reason || ''}}"
            },
            {
              "fieldId": "Response Time",
              "fieldValue": "={{($now.toUnixInteger() - new Date($json.created_at).getTime() / 1000)}}"
            }
          ]
        }
      },
      "id": "log-to-airtable",
      "name": "Log to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3320,
        220
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3",
          "name": "Airtable Support DB"
        }
      }
    },
    {
      "parameters": {},
      "id": "stop-node",
      "name": "Stop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        380
      ]
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Bot Messages": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Add User Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add User Details": {
      "main": [
        [
          {
            "node": "AI Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Triage Agent": {
      "main": [
        [
          {
            "node": "Parse Triage Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Triage Response": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Bug Handler Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Billing Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feature Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bug Handler Agent": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Billing Agent": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Agent": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Agent": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Escalation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Agent": {
      "main": [
        [
          {
            "node": "Parse Escalation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Escalation Decision": {
      "main": [
        [
          {
            "node": "Escalation Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Decision": {
      "main": [
        [
          {
            "node": "Send Escalation Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Escalation Alert": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Response": {
      "main": [
        [
          {
            "node": "Log to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-09T12:00:00.000Z",
  "versionId": "1"
}
